QDRANT_URL=http://localhost:6333
QDRANT_COLLECTION=fastapi_docs

DOCS_PATH=docs/docs/en/docs

EMBED_MODEL=BAAI/bge-small-en
LLM_MODEL=gpt2

CHUNK_SIZE=256
CHUNK_OVERLAP=30
MAX_NEW_TOKENS=256
SIMILARITY_TOP_K=2
